ApiTestProject/src/test/resources/xml_user_validation.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="User">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="email" type="xs:string" />
                <xs:element name="firstName" type="xs:string" />
                <xs:element name="id" type="xs:unsignedLong" />
                <xs:element name="lastName" type="xs:string" />
                <xs:element name="password" type="xs:string" />
                <xs:element name="phone" type="xs:string" />
                <xs:element name="userStatus" type="xs:unsignedByte" />
                <xs:element name="username" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>